/* Add your CSS styles here
***************************************************************/

#profilepic {
    width:100px;
    height:100px;
}
#insert, #friend, #logon {
    display:none;
}
#modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://localhost:62587/Content/FhHRx.gif')
                50% 50% 
                no-repeat;
    
}
