/* Add your CSS styles here
***************************************************************/

#profilepic {
    width: 100px;
    height: 100px;
}

#insert, #friend, #logon, #main {
    display: none;
}

#modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Content/FhHRx.gif') 50% 50% no-repeat;
}
.ui-accordion-header {
    background-color: #3b5998;
}
#friend, #fieldchoices {
    text-align: left;
}
input[type='button'] {
    width:150px;
    line-height: 20px;
}
#main {
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

#profilepic {
    height: 200px;
    width: 200px;
}

body {
    overflow: auto;
    text-align: center;
}

img {
    display: block;
    margin: 0px auto;
}

    img[id$='main'] {
        width: 30px;
        height: 30px;
        margin-left: 0px;
    }
