/* Add your CSS styles here
***************************************************************/

#profilepic {
    width:100px;
    height:100px;
}
#insert, #friend, #logon #main{
    display:none;
 }
#logon {
    margin: 0 auto;
    width: 50em;
}
#modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../Content/FhHRx.gif')
                50% 50% 
                no-repeat;
    
}
#profilepic {
    height:200px;
    width:200px;
}
body {
overflow:auto;
}