# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
pkgobj
pkg
*.suo
FacebookScript.debug.js
FacebookScript.js
AgaveScript.js
AgaveScript.debug.js
SkyDriveScript.js
SkyDriveScript.debug.js
ss.min.js
ssloader.min.js
skydrivescript.min.js
FacebookScript.min.js
# mstest test results
TestResults
# PublishProfiles
PublishProfiles/
