#dropzone {
    width: 200px;
    height: 200px;
}

#modal, #filelistdiv, #signin, #progressbar, #folderpicker {
    display: none;
}

#modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/FhHRx.gif') 50% 50% no-repeat;
}

#filelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

    #filelist li {
        margin: 3px;
        padding: 0.4em;
        font-size: 1.0em;
        height: 18px;
    }

#dropzone {
    border-style:dashed;
    border-width:2px;
}
