<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="FriendForOfficeSQL" connectionString="Server=tcp:ihjhkzcpv9.database.windows.net,1433;Database=FreindsForOffice;User ID=Limey@ihjhkzcpv9;Password=Xi4cuiP3;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttps">
          <security mode ="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="FacebookAgaveWeb.Friends">
        <endpoint address="" behaviorConfiguration="FacebookAgaveWeb.FriendsAspNetAjaxBehavior"
          binding="webHttpBinding" contract="FacebookAgaveWeb.Friends" />
        <endpoint address="" behaviorConfiguration="FacebookAgaveWeb.FriendsAspNetAjaxBehavior"
           binding="webHttpBinding" bindingConfiguration="WebHttps" contract="FacebookAgaveWeb.Friends" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FacebookAgaveWeb.FriendsAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
       
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"  httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
